#logo {
width: 210px;
height: auto;
background-size: 100%;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

ul#myRoundabout {
	position: relative;
}

p {
	text-indent:30px;
}
#gallery li {
	position: absolute;
	width: 50%;
	left: 25%;
	z-index: 2;
}

#gallery li:first-child{
	width: 40%;
	left: 30%;
	margin-top: 5%;
	margin-left: -10%;
	z-index: 1;
}

#gallery li:last-child{
	width: 40%;
	left: 30%;
	margin-top: 5%;
	margin-left: 10%;
	z-index: 1;
}
#content article{
	width: 33.3333%;
	float: left;
	padding: 10px 20px;
}

#content article:nth-child(2){
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#content article img{
	max-width: 100%;
}

#page1 #content2 article{
	padding: 10px 20px;
}

#page1 #content2 article:first-child{
	width: 60%;
	float: left;
	border-right: 1px solid #ccc;
}

#content2 article:last-child{
	width: 40%;
	float: left;
}

#page2 #content2 article:first-child{
	width: 50%;
	float: left;
	border-right: 1px solid #ccc;
}

#page2 #content2 article:last-child{
	width: 50%;
	float: left;
}

@media (max-width: 650px){

#gallery li {
	width: 75%;
	left: 12.5%;
	z-index: 2;
	}

#gallery li:first-child{
	width: 75%;
	left: 12.5%;
	margin-top: 10%; 	
	margin-left: -10%;
	z-index: 1;
	}

#gallery li:last-child{
	width: 75%;
	left: 12.5%;
	margin-top: 15%;
	margin-left: 10%;
	z-index: 3;
	}

#content h2 {
	width:100%;
	text-align:center;
}

#content figure {
	width:100%;
	text-align:center;
}

#content article{
	width: 100%;
	padding: 20px 10px;
}

#content article:nth-child(2){
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: none;
	border-right: none;
}

#content2 article{
	padding: 20px 10px
}

#content2 article:first-child{
	width: 100%;
	border-bottom: 1px solid #ccc;
	border-right: none;
	}

#content2 article:last-child{
	width: 100%;
	}
}

