body {
	margin:0;
	padding:0;
}
.firstbox {
	width:100px;
	height:100px;
	background-color:black;
	float:left;
	padding:0;
	margin:0;
	color:white;
}
.secondbox {
	width:100px;
	height:100px;
	background-color:black;
	float:right;
	padding:0;
	margin:0;
	color:white;
}
.thirdbox {
	width:100px;
	height:100px;
	background-color:black;
	position:absolute;
	bottom:0;
	left:0;
	padding:0;
	margin:0;
	color:white;
}
.fourthbox {
	width:100px;
	height:100px;
	background-color:black;
	position:absolute;
	bottom:0;
	right:0;
	padding:0;
	margin:0;
	color:white;
}

.boxone {
	height:400px;
	width:400px;
	background-color:purple;
	position:absolute;
	top:200px;
	right:500px;
	z-index:1;
}
.boxtwo {
	height:300px;
	width:300px;
	background-color:red;
	position:absolute;
	top:250px;
	right:550px;
	z-index:2;
}
.boxthree {
	height:200px;
	width:200px;
	background-color:orange;
	position:absolute;
	top:300px;
	right:600px;
	z-index:3;
}
.pseudo {
	height:200px;
	width:200px;
	background-color:black;
	display:block;
	position:relative;
	top:50px;
	float:left;
	left:410px;
	color:white;
	text-align:center;
}
.pseudo:before {
	content:"1";
	height:200px;
	width:200px;
	background-color:black;
	display:block;
	position:absolute;
	top:0px;
	left:-210px;
	color:white;
	text-align:center;
}
.pseudo:after {
	content:"3";
	height:200px;
	width:200px;
	background-color:black;
	display:block;
	position:absolute;
	top:0px;
	left:210px;
	color:white;
	text-align:center;
}