/*body {
	margin:0px;
	padding:0px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.container {
	width:80%;
	margin: 0 auto;
}
header {
	 background-color:#c1e6fc;
}
header img {
	width: 250px;
	height:auto;
	display:block;
	margin: 0 auto;
}
header ul {
	padding: 0;
	margin: 0;
}
header li {
	display: inline-block;
	width: 25%;
	float:left;
	text-align:center;
}
.navbar-default {
	background-color:transparent;
	border-color:transparent;
}
.navbar {
position: relative;
min-height: 50px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 0px;
margin-bottom:0px;

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
border-color: #e7e7e7;
}
.container>.navbar-header, .container-fluid>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-collapse {
margin-right: 0;
margin-left: 0;
}
header li a {
	color: rgba(82, 160, 231, .5);
	line-height:2.5;
	font-size:150%;
	text-decoration:none;
	transition: all 500ms ease-in-out;
}
/*header li a:hover {
	color: rgba(82, 160, 231, 1);
	font-size:200%;
	transition: all 250ms ease-in-out;
}
#hero {
	height:400px;
	background-image: url("../images/sky.jpg");
	background-attachment:fixed;
	background-size:100%;
}
main {
	position:relative;
	background-color:#eaeaea;
	padding-bottom:50px;
}
main .container {

}
main img {
	display:block;
	width:20%;
	height:auto;
	border-radius: 50%;
	position:absolute;
	top:20px;
	left:7%;
	border:5px solid #dddddd;
	transition: all 300ms ease-in-out
}
main img:hover {
	position:absolute;
	left:0%;
	border:7px solid #000000;
	transition: all 300ms ease-in-out

}
main article {
	width:80%;
	padding:35px 25px 25px 25px;
	float:right;
	position:relative;
	z-index:2;
	background-color:white;
}
main article:before {
	content:"";
	display:block;
	width:100%;
	height:150px;
	background-color:white;
	position:absolute;
	top:-75px;
	left:0;
	z-index:0;
	background-image: url("../images/mail.png");
	background-repeat:repeat-x;
}
article h1 {
	font-size:40px;
}
article p {
	font-size:24px;
	line-height:1.5em;
}
article h2{
	font-size:32px;
	font-family: 'Shadows Into Light', cursive;
	float:right;
}
article h2:before {
	content:"- ";
}
footer {
	padding: 25px 0;
	background:#303030;
	color:#dddddd;
}*/

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:100%;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    width: 80%;
    margin: 0 auto;
}
header {
    background-color: #c1e6fc;
    position:relative;
}
header img {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
}
header ul {
    padding: 0;
    margin: 0;
}
/*header li {
    display: inline-block;
    width: 25%;
    float: left;
    text-align: center;
}*/

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
}

header li a {
    color: rgba(82, 160, 231, .5);
    line-height: 2.5;
    font-size: 150%;
    font-weight: 200;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}
header li a:hover {
    color: rgb(82, 160, 231);
}
#hero {
    height: 250px;
    background-image: url("../img/sky.jpg");
    background-attachment: fixed;
    background-size: 100%;
}
main {
    background-color: #eaeaea;
    padding-bottom: 50px;`
}
main .container {
    position: relative;
}
main img {
    display: block;
    width: 20%;
    height: auto;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 7%;
    border: 5px solid #dddddd;
     transition: left 150ms ease-in-out;
}
main img:hover {
    left: 0;
}
main article {
    width: 80%;
    padding: 0 25px 25px;
    float: right;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
}
main article:before {
    content: "";
    display: block;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    position: absolute;
    top: -75px;
    left: 0;
    background-image: url("../img/mail.png");
    background-repeat: repeat-x;
}
article h1 {
    /*font-size: 40px;*/
    font-size:5em;
    font-weight: 200;
}
article p {
    /*font-size: 24px;*/
    font-size:1.5em;
    line-height: 1.5;
}
article h2 {
   
    /*font-size: 32px;*/
    font-size:2em;
    font-family: 'Homemade Apple', cursive;
    float: right;
}
article h2:before {
    content: "- ";
}




footer {
    padding: 25px 0;
    background-color: #303030;
    color: #dddddd;
}

header #sizer {
	position:absolute;
	top:0;
	right:0;
}